#was-sticky {
	position: fixed;
	top: 50%;
	width: 340px;
}
	#open-close-was-sticky {
		background: #21759B;
		width: 30px;
		position: absolute;
		top: 50%;
		margin-top: -45px;
		height: 90px;
		right: 0;
		-moz-border-radius:  0 6px 6px 0;
		-webkit-border-radius:  0 6px 6px 0;
		border-radius: 0 6px 6px 0;
	}
		#was-open {
			display:block;
			width: 13px;
			height: 23px;
			background: url(open.png) 0 0 no-repeat;
			margin: 16px 0 0 8px;
		}
			#was-open.was-disabled{ background: url(open-disabled.png) 0 0 no-repeat; }
			
		#was-close {
			display:block;
			width: 13px;
			height: 23px;
			background: url(close.png) 0 0 no-repeat;
			margin: 13px 0 0 8px;
		}
			#was-close.was-disabled{ background: url(close-disabled.png) 0 0 no-repeat; }

	#wrap-was-sticky {
		width: 280px;
		background: #fff;
		border-top: 1px solid #a1a1a1;
		border-right: 1px solid #a1a1a1;
		border-bottom: 1px solid #a1a1a1;
		padding: 20px 15px;
		-moz-border-radius:  0 6px 6px 0;
		-webkit-border-radius:  0 6px 6px 0;
		border-radius: 0 6px 6px 0;
		min-height: 110px;
	}
	#wrap-was-sticky.was-displaynone {
		display:none;
	}
		#wrap-was-sticky a { 
			color: #444444;
			text-decoration: none;
		}
			#wrap-was-sticky a:hover { text-decoration: underline; }
	
		#title-was-sticky {
			font-size: 18px;
			font-weight: bold;
			margin: 0 0 15px 0;
		}
			#wrap-was-sticky #title-was-sticky a { 
				color: #444444;
				text-decoration: underline;
			}
		
		#content-was-sticky {
			font-size: 14px;
		}